body{
    font-family: Arial;   
}

.horizontal-vertical-align{
    display: flex;
    justify-content: center;
}

.fixed{
    position: fixed;
}

.top{
    top: 0;
}

.bottom{
    bottom: 0;
}

.sticky{
    position: sticky;
    top: 0;
}

#canvas-container{
    position: absolute;
    overflow-x: scroll;
    width: 100%;
    height: 80%;
    left: 0;
}

#my-canvas{
    border: 1px solid #ccc;
}

#info-container{
    position: absolute;
    top: 80%;
    background-color: #1DA584;
    color: #ffffff;
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
    box-shadow: inset 0 20px 28px -9px hsla(300,3%,55%,.25);
    left: 0;
}

#info-container > *{
    margin-top: 5px;
    margin-left: 15px;
}

#loading-container{
    width: 100%;
    height: 100%;
    text-align: center;
}

#loading{
    font-family: Arial;
    font-weight: bold;
    font-size: 40px;
    margin: 0 auto;
    margin-top: 50px;
}

/* Gabriel Tessarini */
